################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternConsole/bin/Debug/netcoreapp2.2
/.vs/DesignPatternConsole/v15/Server/sqlite3
/.vs/DesignPatternConsole/v15/.suo
/.vs/DesignPatternConsole/DesignTimeBuild
/.vs/config
/DesignPatternConsole/obj
