################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternConsole/bin/Debug/netcoreapp2.2
